.Header {
  &_container {
    position: sticky;
    z-index: 1;
    top: 50px; // for the sticky.
    margin-top: 55px;
  }
  &_root {
    position: sticky;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    left: 0;
    z-index: 1; // allow mouse events on the header.
    height: 0;
  }
  &_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: background-color 0.1s linear;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    background: rgba(255, 255, 255, 0.2); /* needed so blur is visible */
    width: 100%;
    &.scrolled {
      background: radial-gradient(#24557e24 1px, transparent 1px),
        linear-gradient(to bottom, #ffffff, #f3f3f1);
    }
  }

  &_contentInner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  &_logoContainer {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_logo {
    height: 70px;
    width: 70px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    &.hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &_mobile {
    display: none;
    justify-content: flex-end;
    padding-left: 20px;
  }
  &_mobileView {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    background-color: var(--whiteColor); /* needed so blur is visible */
  }
  &_mobileMenu {
    display: flex;
    flex-direction: column;
  }
  &_mobileViewInner {
    height: 100%;
    padding-top: 60px;
    padding-top: 80px;
  }
  &_arrowIcon {
    margin-left: 10px;
  }
  &_contactDetailsIcon {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: 15px;
    color: var(--accent);
  }
}

@media screen and (max-width: 1232px) {
  .Header {
    &_root {
      position: relative;
      height: unset;
      top: 0;
    }
    &_content {
      min-width: 0px;
      flex-direction: column;
    }
    &_contentInner {
      height: unset;
      display: none; //TODO header widget
    }
    &_topInfo {
      display: none;
    }
    &_mobile {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      h4 {
        color: #fff;
        font-size: 25px;
      }
      &.scrolled {
        h4 {
          color: var(--secondaryAccentDark);
        }
      }
      &.showMenu {
        h4 {
          color: var(--secondaryAccentDark);
        }
      }
      > button {
        width: 100px;
        height: 100px;
        margin-left: 20px;
        > img {
          height: 100%;
          width: 100%;
          color: var(--blackColor);
        }
      }
    }
    &_container {
      position: sticky;
      top: 0;
      z-index: 1;
      margin-top: 0;
    }
    &_contactDetails {
      display: none;
    }
    &_logo {
      margin-top: 15px;
    }
  }
}

// Logo sizing
@media screen and (max-width: 550px) {
  .Header {
    &_logo {
      height: 20px;
      display: none;
    }
  }
}
