@import "Animations.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --text: #d6d3ce;
  --accent: #e8a030;
  --secondAccent: #5d7a95;
  --background: #292827;
  --bulletpoint-orange: #ff6d00;
  --bulletpoint-red: #ff373c;
  --bulletpoint-pink: #d22d74;
  --bulletpoint-blue: #2b79e5;
  --bulletpoint-green: #028c37;

  --whiteColor: #f0eeeb;
  --whiteColor-dark: #e7e5e1;
  --blackColor: #1b1c1e;
  --transparent: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #25272a;
    --accent: #e8a030;
    --secondAccent: #5d7a95;
    --background: #fafafa;
    --bulletpoint-orange: #ff6d00;
    --bulletpoint-red: #ff373c;
    --bulletpoint-pink: #d22d74;
    --bulletpoint-blue: #2b79e5;
    --bulletpoint-green: #028c37;

    --whiteColor: #fafafa;
    --whiteColor-dark: #e7e5e1;
    --blackColor: #25272a;
    --transparent: transparent;
  }
}
::selection {
  background: var(--accent);
}
@layer components {
  body {
    @apply font-inter font-black text-blackColor bg-whiteColor;
  }

  h1 {
    word-break: break-all;
    @apply sm:text-4xl md:text-5xl lg:text-7xl lg:leading-tight;
  }

  h2 {
    @apply text-4xl md:text-5xl;
  }

  h3 {
    @apply text-3xl md:text-4xl;
  }

  h4 {
    @apply text-xl md:text-2xl;
  }

  p {
    @apply text-2xl font-normal;
  }

  label {
    @apply text-xl font-bold;
  }

  button {
    @apply text-lg md:text-xl;
  }

  .titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .inter-web-black {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .header {
  }

  .bggrid {
    --grid-size: 40px; // size of main squares
    --grid-color: rgba(255, 255, 255, 0.01);
    --grid-color-bold: rgba(255, 255, 255, 0.04);
    --bg-color: #0f1117;

    background-color: var(--bg-color);

    background-image:
      // bold vertical lines
      linear-gradient(to right, var(--grid-color-bold) 1px, transparent 1px),
      // bold horizontal lines
      linear-gradient(to bottom, var(--grid-color-bold) 1px, transparent 1px),
      // minor vertical lines
      linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
      // minor horizontal lines
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);

    background-size: calc(var(--grid-size) * 5) calc(var(--grid-size) * 5),
      calc(var(--grid-size) * 5) calc(var(--grid-size) * 5),
      var(--grid-size) var(--grid-size), var(--grid-size) var(--grid-size);
  }
}
