.Services {
  &_root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    background: radial-gradient(#24557e24 1px, transparent 1px),
      linear-gradient(to bottom, #ffffff, #f3f3f1);
    background-size: 20px 20px, 100% 100%;
  }
  &_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 400px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    > p {
      margin-top: 30px;
      margin-left: 10px;
      color: var(--black);
      width: 100%;
      margin-bottom: 5px;
    }
    > ul {
      width: 400px;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .Services {
    &_content {
      > ul {
        width: 100%;
      }
    }
  }
}
