.Banner {
  &_root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      max-width: 900px;
      width: 100%;
      text-align: left;
    }
    p {
      max-width: 700px;
      padding-left: 80px;
    }
    img {
      max-height: 500px;
    }
    h1 {
      text-align: left;
    }
    &.alt {
      background-color: #f9f9f9;
    }
    &.alt2 {
      background: radial-gradient(#1b1c1e17 2px, transparent 1px),
        linear-gradient(
          to bottom,
          var(--whiteColor-dark),
          var(--whiteColor-dark)
        );
      background-size: 20px 20px, 100% 100%;
      h1,
      h2,
      h3,
      h5,
      h6,
      p {
        &::before {
          background-color: #f9f9f9;
        }
      }
      p {
        padding-left: 0;
      }
      h1 {
      }
    }
    &.alignCenter {
      text-align: center;
    }
    &.marginBottom {
      padding-bottom: 80px;
      padding-top: 80px;
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    padding: 40px;
  }
  &_table {
    display: flex;
  }
}

@media screen and (max-width: 1232px) {
  .Banner {
    &_root {
      p {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    }
    &_table {
      flex-direction: column;
      p {
        padding: 0;
      }
    }
    &_image {
      width: 80%;
      align-self: center;
    }
  }
}
